<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2639559948595306"-->
<!--            crossorigin="anonymous"></script>-->
    <title> NextGen Hub </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="src/main/resources/static/assets/img/Nxtgen-navbar-logo.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/vendor/bootstrap/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/main.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('src/main/resources/static/assets/img/nextgenhub2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            font-family: Arial, sans-serif;
        }
        .container-login100 {
            position: relative;
            z-index: 1;
        }
    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        color: black;
        border: 0;
        outline: 0;
    }
        .login100-more {
            height: calc(110vh - 100px); /* Adjust the height as needed */
            display: flex;
            flex-direction: column;
            justify-content: flex-end; /* Push the content to the bottom of the container */
        }
        /* Add specific styles for text in the footer */
        .footer h3,
        .footer p {
            color: white;
        }
    </style>
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
<!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2639559948595306"-->
<!--        crossorigin="anonymous"></script>-->
<!--&lt;!&ndash; New Ad &ndash;&gt;-->
<!--<ins class="adsbygoogle"-->
<!--     style="display:block"-->
<!--     data-ad-client="ca-pub-2639559948595306"-->
<!--     data-ad-slot="4738105870"-->
<!--     data-ad-format="auto"-->
<!--     data-full-width-responsive="true"></ins>-->
<!--<script>-->
<!--    (adsbygoogle = window.adsbygoogle || []).push({});-->
<!--</script>-->
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form name="contact" class="login100-form validate-form"  method="POST" data-netlify="true" >
<!--action="/send" th:action="@{/send}" th:object="${send}">-->
                <div class="login100-form-social flex-c-m mb-5">
                    <a href="index.html" class="login100-form-social-item flex-c-m bg1 m-r-5">
                        <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                </div>

                <span class="login100-form-title p-b-43">
						MESSAGE US
					</span>

                <div class="wrap-input100 validate-input" data-validate = "Valid name is required: ex@abc.xyz">
                    <input class="input100"  type="text" name="name" >
                    <span class="focus-input100"></span>
                    <span class="label-input100">Full Name</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <!--						<input class="input100" th:field="*{email}" type="text" name="email" >-->
                    <input class="input100" type="text" name="email" >
                    <span class="focus-input100"></span>
                    <span class="label-input100">Email</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Phone Number is required">
                    <input class="input100" type="tel" name="phone" >
                    <span class="focus-input100"></span>
                    <span class="label-input100">Phone Number</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Please Enter a Message">
                    <input class="input100" name="message" >
                    <span class="focus-input100"></span>
                    <textarea class="label-input100"> Message </textarea>
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Send Message
                    </button>

                </div>

            </form>
            <div class="login100-more" style="background-image: url(src/main/resources/static/assets/img/nextgenhub2.jpg);">
            </div>

        </div>
    </div>
</div>
<footer class="footer">
    <div class="login100-more">
        <h3>Contact Information:</h3>
<!--        <p>Address: Your Address Here</p>-->
        <p>Email: info@nextgenhub.com.ng</p>
        <p>Phone: +234 813 856 3840 | +234 706 885 8151 | +234 706 784 7829</p>
    </div>
</footer>

<!--===============================================================================================-->
<script src="src/main/resources/static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="src/main/resources/static/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="src/main/resources/static/vendor/bootstrap/js/popper.js"></script>
<script src="src/main/resources/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="src/main/resources/static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="src/main/resources/static/vendor/daterangepicker/moment.min.js"></script>
<script src="src/main/resources/static/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="src/main/resources/static/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="src/main/resources/static/js/main.js"></script>

</body>
</html>
